*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{

    display:grid;

    grid-template-columns:250px 1fr;

    grid-template-rows:80px auto 70px;

    min-height:100vh;
}

.header{

    grid-column:1/3;

    background:#2c3e50;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.sidebar{

    background:#34495e;
    color:white;
    padding:20px;
}

.main{

    padding:20px;

    display:grid;

    gap:20px;
}

.hero{

    background:#3498db;
    padding:40px;
    color:white;
}

.about{

    background:#2ecc71;
    padding:30px;
    color:white;
}

.skills{

    background:#9b59b6;
    padding:30px;
    color:white;
}

.projects{

    background:#f39c12;
    padding:30px;
    color:white;
}

.contact{

    background:#e74c3c;
    padding:30px;
    color:white;
}

.footer{

    grid-column:1/3;

    background:#222;
    color:white;

    display:flex;
    justify-content:center;
    align-items:center;
}