/* body{

font-family:Arial;

}

.box{

width:400px;

height:200px;

background-color:lightyellow;

border:2px solid blue;

padding:20px;

box-sizing:border-box;

}

.box1{

width:400px;

height:200px;

background-color:lightyellow;

border:2px solid blue;

padding:20px;

box-sizing:border-box;

} */


.box{

width:90%;

max-width:500px;

margin:auto;

background:lightgreen;

padding:20px;

box-sizing:border-box;

}
.box1{

width:90%;

max-width:500px;

margin:auto;

background:rgb(144, 123, 236);

padding:20px;

box-sizing:border-box;

}